* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 15px;
}

body {
	position: relative;
	font-family: 'Opensans', Helvetica, Arial, sans-serif;
	color: #777;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}